[submodule "packages/ui_layouts_collaborate"]
	path = packages/ui_layouts_collaborate
	url = https://github.com/dpkdhariwal/ui_layouts_collaborate.git
[submodule "packages/backend"]
	path = packages/backend
	url = https://github.com/dpkdhariwal/affiliation-server.git
