[submodule "packages/affiliation"]
	path = packages/affiliation
	url = https://github.com/itcelldgtmsde/affiliation.git
[submodule "packages/affiliationWebBackend"]
	path = packages/affiliationWebBackend
	url = https://github.com/itcelldgtmsde/affiliationWebBackend.git
[submodule "packages/affiliationdocs"]
	path = packages/affiliationdocs
	url = https://github.com/dpkdhariwal/affiliationdocs.git
[submodule "packages/affiliationMobileAppFrontend"]
	path = packages/affiliationMobileAppFrontend
	url = https://github.com/itcelldgtmsde/affiliationMobileAppFrontend.git
[submodule "packages/affiliationMobileBackend"]
	path = packages/affiliationMobileBackend
	url = https://github.com/itcelldgtmsde/affiliationMobileBackend.git
