.scrollable-div::-webkit-scrollbar {
  width: 8px;               /* Width of the scrollbar */
}

.scrollable-div::-webkit-scrollbar-track {
  background: #f1f1f1;      /* Background of the track */
}

.scrollable-div::-webkit-scrollbar-thumb {
  background-color: #888;   /* Scrollbar color */
  border-radius: 5px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #555;         /* Color on hover */
}
