@import "../src/assets/css/bootstrap.css";
@import "./assets/css/icons.css";
@import "./assets/scss/variables";

@import "./assets/scss/switcher.scss";

@import "simplebar-react/dist/simplebar.min.css";

@import "@simonwep/pickr/dist/themes/classic.min.css"; // 'classic' theme
@import "@simonwep/pickr/dist/themes/monolith.min.css"; // 'monolith' theme
@import "@simonwep/pickr/dist/themes/nano.min.css"; // 'nano' theme

@import "./assets/css/styles.css";

.app-sidebar {
  *::-webkit-scrollbar {
    width: 0rem !important;
  }
}
.no-caret::after {
  display: none !important;
}

//bg-img1 start
[data-bg-img="bgimg1"] {
  --menu-bg: url(../src/assets/images/menu-bg-images/bg-img1.jpg) !important;

  &[data-menu-styles="transparent"][data-theme-mode="dark"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img1.jpg) !important;
  }
}

//bg-img1 end

//bg-img2 start
[data-bg-img="bgimg2"] {
  --menu-bg: url(../src/assets/images/menu-bg-images/bg-img2.jpg) !important;

  &[data-menu-styles="transparent"][data-theme-mode="dark"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img2.jpg) !important;
  }
}

//bg-img2 end

//bg-img3 start
[data-bg-img="bgimg3"] {
  --menu-bg: url(../src/assets/images/menu-bg-images/bg-img3.jpg) !important;

  &[data-menu-styles="transparent"][data-theme-mode="dark"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img3.jpg) !important;
  }
}

//bg-img3 end

//bg-img4 start
[data-bg-img="bgimg4"] {
  --menu-bg: url(../src/assets/images/menu-bg-images/bg-img4.jpg) !important;
  &[data-menu-styles="transparent"][data-theme-mode="dark"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img4.jpg) !important;
  }
}

//bg-img4 end

//bg-img5 start
[data-bg-img="bgimg5"] {
  --menu-bg: url(../src/assets/images/menu-bg-images/bg-img5.jpg) !important;

  &[data-menu-styles="transparent"][data-theme-mode="dark"] {
    --menu-bg: url(../src/assets/images/menu-bg-images/bg-img5.jpg) !important;
  }
}

//styles

// Deepak Dhariwal @ 5/2/2025
/* Example: Make radio input itself use secondary color */
input[type="radio"].form-check-input {
  background-color: #f2b2b2; /* Bootstrap secondary */
  border-color: #ee2525;
}
input[type="radio"].form-check-input:checked {
  background-color: #48de0d; /* Bootstrap secondary */
  border-color: #aef685;
}

input[type="checkbox"].form-check-input {
  background-color: #f2b2b2; /* Bootstrap secondary */
  border-color: #ee2525;
}
input[type="checkbox"].form-check-input:checked {
  background-color: #48de0d; /* Bootstrap secondary */
  border-color: #aef685;
}

.vertical-timeline::before {
  width: 3px !important;
  background: #38f1e7 !important;
}
.vertical-timeline {
  padding: 0% !important;
}
.vertical-timeline-element-content-arrow {
  border-right: 7px solid #7afd46 !important;
}

.stepper_completed {
  background-color: #57e65e !important;
  color: #250505 !important;
}

.form-control {
}

// .form-control {
//     border-color: #7384aa !important;
// }

.custom-hr {
  border-width: 2px;
  border-color: #a9a9a9;
  border-radius: 5px;
}
